.card {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 80px;
}

.avatar {
  margin: 10px auto;
}

.name {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}

.online {
  color: green;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}

.offline {
  color: red;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}
