.table {
  table-layout: fixed;
  margin: 0 auto 20px auto;
  width: 600px;
  border-collapse: collapse;
  /* padding: 10px 20px; */
}

.descr {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  line-height: 1.5;
}

.item {
  border: 1px solid black;
}
.columns {
  border: 1px solid black;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
  text-align: center;
}
